# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# OS
.DS_Store

# Docker
infra/.docker
infra/*.log

# Build
dist
build

# IDE
.vscode
.idea

# Coverage
coverage

# Logs
logs
*.log
